.header {
  padding: 1rem;
}

.header h1{
  font-size: 1.5rem;
}

.header p{
  font-size: 1rem;
  line-height: 1.4;
  margin-bottom: 0.5rem;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

@media screen and (min-width: 764px) {
  .button-container {
    flex-direction: row;
  }
}
