.header {
  padding: 1rem;
}

.header h1{
  font-size: 1.5rem;
}

.header p{
  font-size: 1rem;
  line-height: 1.4;
  margin-bottom: 0.5rem;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.buttonContainer button {
  padding: 0.75rem 1rem;
  border-radius: var(--btn-radius);
  min-width: 10rem;
}

.test, .practice {
  text-transform: uppercase;
}

.test {
background-color: var(--red);
}

.practice {
background-color: var(--blue);
}

@media screen and (min-width: 764px) {
  .button-container {
    flex-direction: row;
  }
}
