.learningCube {
  background-color: var(--light-green);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto;
}

.cubeContainer {
  position: relative;
  width: 200px;
  height: 200px;
  perspective: 1000px;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}
/* note: translate needs to be 1/2 the width/height  */
.cube {
  position: absolute;
  transform: translateZ(-100px);
  will-change: transform;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: transform 0.9s ease-in-out;
  height: 100%;
  width: 100%;
  opacity: 1;
}

.cube .face {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 5px solid var(--primary);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  backface-visibility: hidden;
  padding: 0.25rem;
}

/* hide a sentence on smaller screens  */
.sentences .sentence:nth-of-type(2) {
  display: none;
}

/* rotate x or y / left right or top bot by 90  */
/* front back rot on Y */
.cube .english {
  transform: rotateY(0deg) translateZ(100px);
  background-color: var(--front);
}

.cube .german {
  transform: rotateY(180deg) translateZ(100px);
  background-color: var(--back);
}

.weakMascEmoji {
  display: inline-block;
  transform: rotateY(180deg);
  margin-right: 1rem;
}

/* top bot rot on X */
.cube .article {
  transform: rotateX(90deg) translateZ(100px);
  background-color: var(--top);
}
.cube .plural {
  transform: rotateX(-90deg) translateZ(100px);
  background-color: var(--bottom);
}

/* left right rot on y  */
.cube .sentences {
  transform: rotateY(-90deg) translateZ(100px);
  background-color: var(--left);
  align-items: flex-start;
}

.cube .notes {
  transform: rotateY(90deg) translateZ(100px);
  background-color: var(--right);
  align-items: flex-start;
}

.cube .sentences h3,
.cube .notes h3 {
  text-align: center;
  align-self: center;
}

.btnContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.25rem;
}

.btnContainer .cubeBtns button {
  text-transform: capitalize;
  font-size: 1rem;
}

.showEnglish {
  transform: translateZ(-100px) rotateY(0deg);
}

.showGerman {
  transform: translateZ(-100px) rotateY(180deg);
}
.showArticle {
  transform: translateZ(-100px) rotateX(-90deg);
}
.showPlural {
  transform: translateZ(-100px) rotateX(90deg);
}
.showSentence {
  transform: translateZ(-100px) rotateY(90deg);
}
.showNotes {
  transform: translateZ(-100px) rotateY(-90deg);
}

.face h3 {
  font-family: var(--serif);
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  line-height: 1;
}

.face[data-face='sentence-side'],
.face[data-face='notes-side'] {
  justify-content: flex-start;
}

.face[data-face='sentence-side'] h3,
.face[data-face='notes-side'] h3 {
  font-size: 1rem;
}

.face .weakMascPara,
.face[data-face='sentence-side'] dl {
  font-size: 0.9rem;
  margin-bottom: 0.75rem;
}

.face .weakMascPara {
  line-height: 1.2;
}

.face[data-face='sentence-side'] dt {
  margin-bottom: 0.25rem;
}

.face dd {
  font-style: italic;
  margin-bottom: 0.25rem;
}

.emoji {
  margin-right: 0.5rem;
}

@media screen and (min-width: 430px) {
  .learningCube {
    gap: 1rem;
  }

  .face[data-face='sentence-side'] h3,
  .face[data-face='notes-side'] h3 {
    font-size: 1.5rem;
  }

  
  .face .weakMascPara,
  .face[data-face='sentence-side'] dl {
    font-size: 1rem;
  }

  .face .weakMascPara {
  line-height: 1.5;
}

  .sentences .sentence:nth-of-type(2) {
    display: block;
  }

  .cubeContainer,
  .cube .face {
    width: 320px;
    height: 320px;
  }
  .cube .face {
    padding: 0.5rem;
  }

  .cube .english {
    transform: rotateY(0deg) translateZ(160px);
  }
  .cube .german {
    transform: rotateY(180deg) translateZ(160px);
  }
  .cube .article {
    transform: rotateX(90deg) translateZ(160px);
  }
  .cube .plural {
    transform: rotateX(-90deg) translateZ(160px);
  }
  .cube .sentences {
    transform: rotateY(-90deg) translateZ(160px);
  }
  .cube .notes {
    transform: rotateY(90deg) translateZ(160px);
  }
  .showEnglish {
    transform: translateZ(-160px) rotateY(0deg);
  }
  .showGerman {
    transform: translateZ(-160px) rotateY(180deg);
  }
  .showArticle {
    transform: translateZ(-160px) rotateX(-90deg);
  }
  .showPlural {
    transform: translateZ(-160px) rotateX(90deg);
  }
  .showSentence {
    transform: translateZ(-160px) rotateY(90deg);
  }
  .showNotes {
    transform: translateZ(-160px) rotateY(-90deg);
  }
}

@media screen and (min-width: 768px) {
  .cubeContainer,
  .cube .face {
    width: 400px;
    height: 400px;
  }

  .cube .english {
    transform: rotateY(0deg) translateZ(200px);
  }
  .cube .german {
    transform: rotateY(180deg) translateZ(200px);
  }
  .cube .article {
    transform: rotateX(90deg) translateZ(200px);
  }
  .cube .plural {
    transform: rotateX(-90deg) translateZ(200px);
  }
  .cube .sentences {
    transform: rotateY(-90deg) translateZ(200px);
  }
  .cube .notes {
    transform: rotateY(90deg) translateZ(200px);
  }
  .showEnglish {
    transform: translateZ(-200px) rotateY(0deg);
  }
  .showGerman {
    transform: translateZ(-200px) rotateY(180deg);
  }
  .showArticle {
    transform: translateZ(-200px) rotateX(-90deg);
  }
  .showPlural {
    transform: translateZ(-200px) rotateX(90deg);
  }
  .showSentence {
    transform: translateZ(-200px) rotateY(90deg);
  }
  .showNotes {
    transform: translateZ(-200px) rotateY(-90deg);
  }
}

@media screen and (min-width: 900px) {
  .learningCube {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    gap: 2px;
    width: 80%;
    max-width: 900px;
  }

  .cubeControls .btnContainer {
   grid-template-columns: repeat(2, 10rem);
    gap: 2rem;
  }

  .cubeControls {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cubeControls h2 {
    margin-bottom: 2rem;
  }
}
