.learningCube {
  background-color: var(--light-green);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cubeContainer {
  position: relative;
  width: 290px;
  height: 290px;
  perspective: 1000px;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}
/* note: translate needs to be 1/2 the width/height  */
.cube {
  position: absolute;
  transform: translateZ(-145px); 
  will-change: transform;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: transform 0.75s ease-in-out;
  height: 100%;
  width: 100%;
}

.cube .face {
  position: absolute;
  width: 290px;
  height: 290px;
  border: 5px solid var(--primary);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  backface-visibility: hidden;
  padding: 1rem;
}
/* rotate x or y / left right or top bot by 90  */
/* front back rot on Y */
.cube .english {
  transform: rotateY(0deg) translateZ(145px);
  background-color: var(--front);
}
.cube .german {
  transform: rotateY(180deg) translateZ(145px);
  background-color: var(--back);
}

/* top bot rot on X */
.cube .article {
  transform: rotateX(90deg) translateZ(145px);
  background-color: var(--top);
}
.cube .plural {
  transform: rotateX(-90deg) translateZ(145px);
  background-color: var(--bottom);
}

/* left right rot on y  */
.cube .sentence {
  transform: rotateY(-90deg) translateZ(145px);
  background-color: var(--left);
  align-items: flex-start;
}

.cube .notes {
  transform: rotateY(90deg) translateZ(145px);
  background-color: var(--right);
    align-items: flex-start;
}

.cube .sentence h3,
.cube .notes h3 {
  text-align: center;
  align-self: center;
}

.btnContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.25rem;
}

.showEnglish {
  transform: translateZ(-145px) rotateY(0deg);
}
.showGerman {
  transform: translateZ(-145px) rotateY(180deg);
}
.showArticle {
  transform: translateZ(-145px) rotateX(-90deg);
}
.showPlural {
  transform: translateZ(-145px) rotateX(90deg);
}
.showSentence {
  transform: translateZ(-145px) rotateY(90deg);
}
.showNotes {
  transform: translateZ(-145px) rotateY(-90deg);
}


.face h3 {
  font-family: var(--serif);
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  line-height: 1;
}

.face dd {
  font-style:italic;
  margin-bottom: 0.25rem;
}