.cubeContainer {
  position: relative;
  width:300px;
  height: 300px;
  perspective: 1000px;
}

.cube {
  position: absolute;
  transform: translateZ(-200px);
  transform-style: preserve-3d;
  transition: transform 0.75s ease-in-out;
    height: 100%;
  width: 100%;
}