.testBoard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.testCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 0.5rem;
}

.gameCardBtnContainer {
  padding: 0.5rem 0;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 0.25rem;
  
}

.testBtn {
  padding: 0.3rem;
  border-radius: var(--btn-radius);
  min-width: 4rem;
  border: 2px solid transparent;
  background-color: var(--blue);
}
