/* todo: work on the color styles for german. too many colors  */

h3 {
  font-weight: 500;
}

.instructions p {
  margin: 0.5rem auto;
}

.gameContainer {
  width: 100%;
}
.highlight {
  color: var(--error);
}
.wordsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.targetWord {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.originWord {
  display: flex;
  justify-content: center;
  width: 100%;
}
/* specific to full game:  */
.englishWord {
  text-align: center;
}

.germanAnswers {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.germanAnswers div {
  flex-grow: 1;
}

.germanAnswers input {
  width: 100%;
}

.germanPlural {
  display: inline;
}

.pluralContainer {
  display: flex;
  align-items: center;
}
.pluralContainer span {
  font-size: 1.2rem;
}

.emoji {
  font-size: 1.2rem;
  color: var(--error);
  margin: 0 0.5rem;
}

.message {
  height: 2rem;
  margin-bottom: 1rem;
  flex-grow: 1;
}
.message.correctGer {
  color: var(--success);
}
.message.incorrectGer {
  color: var(--error);
}

/* end specific to full game:  */

.hints {
  text-align: center;
}

.hint {
  height: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.pluralAnswer,
.nounAnswer {
  field-sizing: content; /* to allow it to grow if we get a large german word*/
  min-width: 10rem;
}

.pluralAnswer,
.articleAnswer,
.nounAnswer {
  font-size: 1rem;
  display: inline-flex;
  align-items: flex-end;
  min-height: 3rem;
  appearance: none;
  background-color: var(--white);
  font-family: inherit;
  padding: 0.25em 0.5em;
  margin: 0.5rem 0;
  border: 2px solid var(--primary);
  border-radius: 4px;
}

.nounAnswer.waiting {
  border: 3px solid var(--primary);
}

.nounAnswer.skipped {
  border: 3px solid var(--color-triad-one);
}

.nounAnswer.incorrect {
  border: 3px solid var(--error);
}

.nounAnswer.correct {
  border: 3px solid var(--success);
}

.nounAnswer.correctGer {
  color: var(--black);
  border: 3px solid var(--primary);
  font-weight: 700;
  background-color: var(--success);
}

.nounAnswer.incorrectGer {
  color: var(--black);
  border: 3px solid var(--primary);
  font-weight: 700;
  background-color: var(--error);
}

.btnContainer {
  display: flex;
  gap: 1rem;
  margin: 1rem auto 0;
  max-width: 18rem;
}

.btnContainer button {
  font-size: 1rem;
}

.startBtn,
.submitBtn,
.hintBtn {
  padding: 0.3rem;
  border-radius: var(--btn-radius);
  min-width: 5rem;
  border: 2px solid transparent;
}
.startBtn {
  background-color: var(--primary);
  color: var(--white);
  margin: 0 auto;
  display: block;
  font-size: 1rem;
}

.submitBtn {
  background-color: var(--color-triad-one);
}

.hintBtn {
  background-color: var(--color-triad-three);
}

.hintBtn.scrambled {
  background-color: var(--color-triad-two);
}

.hintBtn.revealed {
  display: none;
}

.articleButtonContainer {
  display: flex;
  gap: 1rem;
  margin: 0.5rem auto 0;
  max-width: 18rem;
}

.articleButtonContainer button {
  background-color: var(--primary);
  color: var(--white);
  padding: 0.3rem;
  border-radius: var(--btn-radius);
  min-width: 5rem;
  border: 2px solid transparent;
  font-size: 1rem;
}

.articleButtonContainer button.selected {
  border: 2px solid var(--black);
}

.wordsContainer input:focus {
  border: 2px solid var(--accent);
}

.articleButtonContainer button:focus {
  border: 2px solid var(--accent);
}

.articleButtonContainer button.incorrect {
  border: 2px solid var(--error);
  background-color: var(--black);
  font-weight: 700;
  color: var(--error);
}

.articleButtonContainer button.correct {
  border: 2px solid var(--success);
  font-weight: 700;
  background-color: var(--black);
  color: var(--success);
}

@media screen and (min-width: 520px) {
  .originWord {
    justify-content: center;
  }

  .targetWord {
    margin-left: 10%;
  }
}

@media screen and (min-width: 768px) {
  .wordsContainer {
    flex-direction: row;
    gap: 2rem;
  }
  .originWord {
    margin-left: 10%;
  }
  .targetWord {
    margin-left: 0;
  }
}
