/* todo: work on the color styles for german. too many colors  */

.gameContainer {
  width: 100%;
}

.wordsContainer {
  display: flex;
  flex-direction: column;
}

.originWord {
  display: flex;
  align-items: center;
}
/* specific to full game:  */
.englishWord {
  text-align: center;
}

.germanAnswers {
  margin: 0 auto;
}

.germanPlural {
  display: inline;
}

.message {
  height: 2rem;
  margin-bottom: 1rem;
}
.message.correctGer {
  color: #0052a3;
}
.message.incorrectGer {
  color: var(--red);
}
/* end specific to full game:  */
.hint {
  height: 2rem;
  margin-bottom: 1rem;
}

.pluralAnswer,
.nounAnswer {
  field-sizing: content; /* to allow it to grow if we get a large german word*/
  min-width: 10rem;
}

.pluralAnswer,
.articleAnswer,
.nounAnswer {
  font-size: 1rem;
  display: inline-flex;
  align-items: flex-end;
  min-height: 2rem;
  appearance: none;
  background-color: #fff;
  font-family: inherit;
  padding: 0.25em 0.5em;
  border: 2px solid var(--input-border);
  border-radius: 4px;
}

.nounAnswer.waiting {
  border: 3px solid var(--primary);
}

.nounAnswer.skipped {
  border: 3px solid var(--pink);
}

.nounAnswer.incorrect {
  border: 3px solid var(--red);
}

.nounAnswer.correct {
  border: 3px solid var(--accent);
}

.nounAnswer.correctGer {
  color: var(--accent);
  border: 3px solid var(--accent);
  font-weight: bold;
  background-color: #0052a3;
}

.nounAnswer.incorrectGer {
  color: var(--red);
}

.btnContainer {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.startBtn,
.submitBtn,
.hintBtn {
  text-transform: uppercase;
  padding: 0.3rem;
  border-radius: var(--btn-radius);
  min-width: 5rem;
  border: 2px solid transparent;
}
.startBtn {
  background-color: var(--primary);
}

.submitBtn {
  background-color: var(--pink);
}

.hintBtn {
  background-color: var(--accent);
}

.hintBtn.scrambled {
  background-color: var(--pink);
}

.hintBtn.revealed {
  display: none;
}

.articleButtonContainer {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
  max-width: 18rem;
}

.articleButtonContainer button {
  background-color: var(--blue);
  padding: 0.3rem;
  border-radius: var(--btn-radius);
  min-width: 5rem;
  border: 2px solid transparent;
  font-size: 1rem;
}

.articleButtonContainer button.selected,
.articleButtonContainer button:focus {
  border: 2px solid var(--black);
}

.articleButtonContainer button.incorrect {
  border: 2px solid var(--red);
  background-color: var(--red);
  color: var(--white);
}

.articleButtonContainer button.correct {
  border: 2px solid var(--accent);
  font-weight: bold;
  background-color: #0052a3;
  color: var(--accent);
}

@media screen and (min-width: 520px) {
  .originWord {
    justify-content: center;
  }

  .targetWord {
    margin-left: 10%;
  }
}

@media screen and (min-width: 768px) {
  .wordsContainer {
    flex-direction: row;
    gap: 2rem;
  }
  .originWord {
    margin-left: 10%;
  }
  .targetWord {
    margin-left: 0;
  }
}
