.engGerMiniGame {
  width: 100%;
}

.wordsContainer {
  display: flex;
  flex-direction: column;
}

.originWord {
  display: flex;
  align-items: center;
}

.hint {
  height: 2rem;
  margin-bottom: 1rem;
}

.nounAnswer {
  appearance: none;
  font-size: 1rem;
  field-sizing: content; /* to allow it to grow if we get a large german word*/
  min-width: 10rem;
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: #fff;
  border: 2px solid var(--input-border);
  border-radius: 4px;
}

.articleAnswer,
.nounAnswer {
  display: inline-flex;
  align-items: flex-end;
  min-height: 2rem;
}

.nounAnswer.waiting {
  border: 3px solid var(--primary);
}

.nounAnswer.skipped {
  border: 3px solid var(--pink);
}

.nounAnswer.incorrect {
  border: 3px solid var(--red);
}

.nounAnswer.correct {
  border: 3px solid var(--accent);
}

.btnContainer {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.submitBtn,
.hintBtn {
  text-transform: uppercase;
  padding: 0.3rem;
  border-radius: var(--btn-radius);
  min-width: 5rem;
  border: 2px solid transparent;
}

.submitBtn {
  background-color: var(--pink);
}

.hintBtn {
  background-color: var(--accent);
}

.hintBtn.scrambled {
  background-color: var(--pink);
}

.hintBtn.revealed {
  display: none;
}
@media screen and (min-width: 520px) {
  .originWord {
    justify-content: center;
  }

  .targetWord {
    margin-left: 10%;
  }
}

@media screen and (min-width: 768px) {
  .wordsContainer {
    flex-direction: row;
    gap: 2rem;
  }
  .originWord {
    margin-left: 10%;
  }
  .targetWord {
    margin-left: 0;
  }
}
