.pluralGame {
  width: 100%;
}
.instructions p {
  margin: 0.5rem auto;
}

.pluralGrid {
  display: grid;
  grid-template-columns: 4rem 1fr 1fr;
  border: 2px solid var(--front);
  border-bottom-width: 1px;
}
.pluralGrid div {
  padding: 0.1rem 0.5rem;
  border-bottom: 1px solid var(--front);
}
.pluralSignal {
  text-align: right;
}

.wordsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.originWord {
  display: flex;
  align-items: center;
}

.hint {
  height: 2rem;
  margin-bottom: 1rem;
}

.startBtn,
.submitBtn {
  padding: 0.3rem;
  border-radius: var(--btn-radius);
  min-width: 5rem;
  border: 2px solid transparent;
}
.startBtn {
  background-color: var(--primary);
  color: var(--white);
  margin: 0 auto;
  display: block;
  font-size: 1rem;
}
.submitBtn {
  margin: 1rem auto;
  background-color: var(--color-triad-one);
  align-self: center;
}
.targetWord {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.targetWord p {
  text-align: center;
  font-size: 1.2rem;
}

.pluralContainer {
  display: flex;
  align-items: center;
}
.pluralContainer span {
  font-size: 1.2rem;
}

.pluralAnswer {
  display: inline-flex;
  align-items: flex-end;
  min-height: 3rem;
  appearance: none;
  field-sizing: content; /* to allow it to grow if we get a large german word*/
  min-width: 10rem;
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: var(--white);
  border: 2px solid var(--primary);
  border-radius: 4px;
  flex-grow: 1;
  margin: 0.5rem 0 1rem;
  margin-left: 0.2rem;
  font-size: 1.2rem;
}

.pluralAnswer.waiting {
  border: 3px solid var(--primary);
}

.pluralAnswer.skipped {
  border: 3px solid var(--color-triad-one);
}

.pluralAnswer.incorrect {
  border: 3px solid var(--error);
  /* background-color: var(--error); */
  color: var(--black);
}

.pluralAnswer.correct {
  border: 3px solid var(--success);
  /* background-color: var(--success); */
  color: var(--black);
}
/* TODO: FIX THE WIDTH SO MESSAGES DON'T MAKE IT JUMP  */
.messageContainer {
  width: 100%;
}

.message {
  height: 2rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 520px) {
  .originWord {
    justify-content: center;
  }

  .targetWord {
    margin-left: 10%;
  }
}

@media screen and (min-width: 768px) {
  .originWord {
    margin-left: 10%;
  }
  .targetWord {
    margin-left: 0;
  }
}
