.weakMascGame {
  width: 100%;
}

.instructions p {
  margin: 0.5rem auto;
}

.startBtn {
  background-color: var(--primary);
  color: var(--white);
  text-transform: uppercase;
  padding: 0.3rem;
  border-radius: var(--btn-radius);
  min-width: 5rem;
  border: 2px solid transparent;
  margin: 0 auto;
  display: block;
  font-size: 1rem;
}

.gameCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1rem auto;
}

.gameWord {
  text-align: center;
}

.gameWord h3 {
  font-size: 1.5rem;
}

.gameWeakMasc {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem 0;
}

.gameWeakMasc button {
  background-color: var(--color-triad-three);
  color: var(--black);
  text-transform: uppercase;
  padding: 0.3rem;
  border-radius: var(--btn-radius);
  min-width: 5rem;
  border: 2px solid transparent;
}

button[data-state="correct"] {
  background: var(--success);
}
button[data-state="incorrect"] {
  background: var(--error);
}
