:root {
  line-height: 1.5;
  --border-radius: 5px;
  --btn-radius: 20px;

  --serif: "Rufina","Georgia", "Garamond", serif;
  --sans-serif: "Sintony","Arial", "Verdana", sans-serif;

  --primary: #1f3634; /* v dk green / use as black  */
  --accent: #cace00;
  --white: #fcfbf4;
  --red: #e7403c; /* error or mistake feedback */
  --pink: #e9bac3; /* error  accent */
  --green: #035a5c; /* v dark teal  */
  --blue:#7ba3ce; /* positive feedback  */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--white);
  color: var(--slate);
  font-family: var(--sans-serif);
  color: var(--primary);
}

a {
  text-decoration: none;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

h1, h2 {
  font-family: var(--serif);
}

main {
  padding: 1rem;
}