:root {
  line-height: 1.4;
  --border-radius: 5px;
  --btn-radius: 50px;

  --serif: "Rufina", "Georgia", "Garamond", serif;
  --sans-serif: "Sintony", "Arial", "Verdana", sans-serif;
  --box-shadow: 0px 9px 15px 1px rgba(2, 36, 33, 0.72);

  --background: #c7ede4; /* frozen water  */

  --primary: #1b1f3b; /* space indigo */
  --white: #fcfbf4;
  /* landing page and general global */
  --general-btn: #4d7ea8; /* der die das, deck size, special char */
  --secondary-btn: #6da34d; /*rename later? currently go button as seen across views */
  --light-blue: #7fdbff; /* learn/practice. usu in header */
  --middle-blue: #0074d9; /* home. usu in header and cube is front-back eng/ger */
  --navy-blue: #001f3f; /* tests. usu in header */

  /* practice page. cube matches --middle-blue: #0074D9; which is front/back color */
  --left-right: #b07c9e; /*mauve? sent/notes */
  --top-bottom: #dde8b9; /* tea green art/plural */

  --deck-nav: #3d2b56; /* remove or readd to deck */

  /* test page matches --navy-blue: #0074d9 */

  /* these are old colors. replacing. keep until replaced  */
  --accent: #cace00;

  --red: #e7403c; /* error or mistake feedback */
  --pink: #e9bac3; /* error  accent */
  --green: #035a5c; /* v dark teal  */
  --blue: #7ba3ce; /* positive feedback  */
  --black: #022421;
  /* create colors for test version. don't like using the ones for primary etc. keep those for real accents or errors and generic buttons
  todo: testing colors. study colors ok as is.
  */
  /* die/cube and buttons must match side */
  --light-green: #f2fff2; /* bg to die/cube  */
  --front: #5ba78f; /* english  */
  --back: #5fa5ad; /* german  */
  --top: #cca4d8; /* article  */
  --bottom: #a3aad8; /*  plural  */
  --left: #d4c9f0; /* sentence  */
  --right: #7ba3ce; /* notes  */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  background-color: var(--background);
  color: var(--slate);
  font-family: var(--sans-serif);
  color: var(--primary);
  font-size: 16px;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

h1,
h2 {
  font-family: var(--serif);
}

.app-container {
  padding: 0.5rem 3rem;
  flex: 1;
  max-width: 1000px;
  margin: 0 auto;
}

.bold {
  font-weight: 700;
}

.ital {
  font-style: italic;
}

.hidden {
  /* display: none; */
  visibility: hidden;
}
.visible {
  /* display: block; */
  visibility: visible;
}

.intro-images {
  display: flex;
  flex-direction: column;
}

.images-container {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  flex-direction: column;
}

.intro-images {
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  margin-bottom: 1rem;
  align-items: center;
  padding: 2rem 1rem;
  text-align: center;
  background: var(--white);
}

.intro-images .mode-image-container {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.25rem;
}
.intro-images p {
  font-size: 1.1rem;
}
.intro-images .mode-image-container span {
  font-size: 64px;
}

ul {
  list-style-type: none;
}

@media screen and (min-width: 425px) {
  .images-container {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 768px) {
  :root {
    line-height: 1.5;
  }

  body {
    font-size: 18px;
  }

  .intro-images .mode-image-container {
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 900px) {
  .intro-images .mode-image-container {
    width: 350px;
    height: 350px;
    border-width: 8px;
  }

  .intro-images {
    margin-top: 1rem;
  }
}
