:root {
  line-height: 1.4;
  --border-radius: 5px;
  --btn-radius: 50px;

  --serif: 'Rufina', 'Georgia', 'Garamond', serif;
  --sans-serif: 'Sintony', 'Arial', 'Verdana', sans-serif;

  --primary: #1f3634; /* v dk green  */
  --accent: #cace00;
  --white: #fcfbf4;
  --red: #e7403c; /* error or mistake feedback */
  --pink: #e9bac3; /* error  accent */
  --green: #035a5c; /* v dark teal  */
  --blue: #7ba3ce; /* positive feedback  */
  --black: #022421;

  /* die/cube and buttons must match side */
  --light-green: #f2fff2; /* bg to die/cube  */
  --front: #5ba78f; /* english  */
  --back: #5fa5ad; /* german  */
  --top: #cca4d8; /* article  */
  --bottom: #a3aad8; /*  plural  */
  --left: #d4c9f0; /* sentence  */
  --right: #7ba3ce; /* notes  */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  background-color: var(--white);
  color: var(--slate);
  font-family: var(--sans-serif);
  color: var(--primary);
  font-size: 16px;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

h1,
h2 {
  font-family: var(--serif);
}

main {
  padding: 0 1rem;
  flex: 1;
}

.intro {
  margin-top: 0.5rem;
  width: 100%;
}
.intro-images {
  display: flex;
  flex-direction: column;
}

.intro-images {
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto 0;
}

.intro-images .image-container {
  border: 10px solid var(--blue);
    width: 280px;
  height: 280px;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: var(--border-radius);
}

.intro-images .image-container img {
  width: 100%;
}

ul {
  list-style-type: none;
}

@media screen and (min-width:768px) {
  :root {
    line-height: 1.5;
  }

  body {
    font-size: 18px;
  }

  .intro {
    width: 75%;
    margin: 0 auto;
  }

 .intro-images .image-container {
    width: 360px;
    height: 360px;
    border-width: 15px;
  }

  .intro-images {
    margin-top: 5rem;
  }
}

@media screen and (min-width: 900px) {
    .intro {
    width: 50%;
  }

   .intro-images .image-container {
    width: 450px;
    height: 450px;
    border-width: 15px;
  }

  .intro-images {
    margin-top: 5rem;
  }
}
