:root {
  line-height: 1.4;
  --border-radius: 5px;
  --btn-radius: 50px;

  --serif: "Rufina", "Georgia", "Garamond", serif;
  --sans-serif: "Sintony", "Arial", "Verdana", sans-serif;
  --box-shadow: 0px 5px 15px 1px rgba(2, 36, 33, 0.72);

  /* https://dribbble.com/shots/2101536-Style-Tile */
  --background: #f5f2ea;
  --primary: #5f5f5f;
  --white: #fff;
  --black: #022421;

  --color-triad-one: #e87759;
  --color-triad-two: #f0c951;
  --color-triad-three: #5cc6d8;

  --error: #e85965;
  --success: #5cd86f;
  --accent: #edf051;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  background-color: var(--background);
  color: var(--primary);
  font-family: var(--sans-serif);
  color: var(--primary);
  font-size: 16px;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

h1,
h2 {
  font-family: var(--serif);
}

.app-container {
  padding: 0.5rem 0.25rem;
  flex: 1;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.bold {
  font-weight: 700;
}

.center {
  text-align: center;
}

.ital {
  font-style: italic;
}

.hidden {
  /* display: none; */
  visibility: hidden;
}
.visible {
  /* display: block; */
  visibility: visible;
}

.images-container {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  flex-direction: column;
}

.intro-images {
  width: 90%;
  margin: 0 auto 1rem;
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  align-items: center;
  padding: 2rem 1rem;
  text-align: center;
  background: var(--white);
}

.intro-images .mode-image-container {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.25rem;
}
.intro-images p {
  font-size: 1.1rem;
}
.intro-images .mode-image-container span {
  font-size: 64px;
}

ul {
  list-style-type: none;
}

@media screen and (min-width: 425px) {
  .images-container {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 768px) {
  :root {
    line-height: 1.5;
  }

  body {
    font-size: 18px;
  }

  .intro-images .mode-image-container {
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 900px) {
  .images-container {
    flex-direction: row;
    justify-content: space-between;
  }
  .intro-images {
    width: 45%;
  }
  .mode-image-container {
    flex-grow: 1;
  }
}
