.btn {
  padding: 0.75rem 1rem;
  border-radius: var(--btn-radius);
  min-width: 10rem;
  
}

.test, .practice {
  text-transform: uppercase;
}

.test {
background-color: var(--red);
}

.practice {
background-color: var(--blue);
}