.gameOverContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gameOverContainer div {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.25rem;
}

.gameOverContainer .emojiBrain {
  font-size: 64px;
}

.gameOverContainer .emojiArrow {
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  background-color: var(--primary);
  border-radius: var(--btn-radius);
  font-size: 1.25rem;
  color: var(--accent);
}
