.test,
.practice,
.home {
  text-transform: uppercase;
  padding: .5rem;
  border-radius: var(--btn-radius);
  min-width: 10rem;
}

.test {
  background-color: var(--red);
}

.practice {
background-color: var(--blue);
}

.home {
background-color: var(--green);
color: var(--white);
}

@media screen and (min-width:768px) {
  .test,
.practice,
.home {
  padding: 0.75rem 1rem;
}
}
