.test,
.practice,
.home {
  text-transform: uppercase;
  padding: 0.3rem;
  border-radius: var(--btn-radius);
  min-width: 10rem;
  border: 2px solid transparent;
}

.test {
  background-color: var(--red);
}

.practice {
  background-color: var(--blue);
}

.home {
  background-color: var(--green);
  color: var(--white);
}

@media screen and (min-width: 430px) {
  .test,
  .practice,
  .home {
    padding: 0.5rem;
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .test,
  .practice,
  .home {
    padding: 0.75rem 1rem;
  }
}
