.test,
.practice,
.home {
  text-transform: uppercase;
  padding: 0.5rem;
  border-radius: var(--btn-radius);
  min-width: 6.5rem;
  border: 2px solid transparent;
  font-size: 1rem;
}

.test {
  background-color: var(--color-triad-three);
  color: var(--black);
}

.practice {
  background-color: var(--color-triad-two);
  color: var(--black);
}

.home {
  background-color: var(--primary);
  color: var(--white);
}

@media screen and (min-width: 430px) {
  .test,
  .practice,
  .home {
    padding: 0.5rem;
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .test,
  .practice,
  .home {
    padding: 0.75rem 1rem;
  }
}
